<ion-view view-title="Ajustes">
  <ion-content>
  </ion-content>
<img src="img/fondoLogin.png" width="100%" height="100%">
<div class="row" style="position:fixed; bottom:-10px;">
  <div class="col">
    <button class="button button-block button-assertive" ng-click="googleLogin()">
      <i class="icon ion-social-googleplus"></i>
      Google login
    </button>
  </div>
  <div class="col">
    <button class="button button-block button-positive" ng-click="facebookLogin()">
      <i class="icon ion-social-facebook"></i>
      Facebook Login
    </button>
  </div>
</div>
</ion-view>
