<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Direccion</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Cerrar</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="doLogin()">
      <div class="list">
        <div class="list">
          <label class="item item-input">
            <input type="text" placeholder="Calle">
          </label>
          <label class="item item-input">
            <input type="text" placeholder="Colonia">
          </label>
          <label class="item item-input">
            <input type="text" placeholder="Numero">
          </label>
          <label class="item item-input">
            <input type="text" placeholder="Informacion extra">
          </label>
          <label class="item item-input">
            <textarea placeholder="Entre calle y calle"></textarea>
          </label>
          <label class="item item-input">
            <input type="number" placeholder="Telefono">
          </label>
        <label class="item">
          <button class="button button-block button-balanced" type="submit">
          <i class="icon ion-paper-airplane"></i>
          Enviar
        </button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
