<ion-view view-title="Ajustes">
  <ion-content>
    <h1 style="color:white;">Ajustes</h1>
    <center>
    

    
    <p ng-bind="nombre"></p>
    <p ng-bind="email"></p>
    <p ng-bind="sexo"></p>
    <img ng-src="{{foto}}">

    <img ng-src="{{fotof}}">
    <p ng-bind="nombref"></p>
    <p ng-bind="correof"></p>
    <p ng-bind="sexof"></p>
    </center>


  </ion-content>
<img src="img/mamda.jpg" width="100%" height="100%">
<div class="row" style="position:fixed; bottom:-10px;">
  <div class="col">
    <button class="button button-block button-assertive" ng-click="googleLogin()">
      <i class="icon ion-social-googleplus"></i>
      Google login
    </button>
  </div>
  <div class="col">
    <button class="button button-block button-positive" ng-click="facebookLogin()">
      <i class="icon ion-social-facebook"></i>
      Facebook Login
    </button>
  </div>
</div>
</ion-view>
