<ion-view view-title="Pedidos">
  <ion-content>

    <div class="card" ng-repeat="pedido in pedidos">
    <div class="item item-divider">
      <p>{{fecha(pedido.fecha)}}</p>
    </div>
    <div class="item item-text-wrap">
      <ul>
        <li ng-repeat="producto in pedido.productos">
          {{producto.nombre}} {{((producto.precio_pizza == null) && producto.precio || !(producto.precio_pizza == null) && producto.precio_pizza) | currency}}
        </li>
      </ul>
      <span><strong>Total:</strong> $202.00</span>
    </div>
    </div>

  </ion-content>
</ion-view>
