<div class="list">

  <label class="item item-radio">
    <input type="radio" name="group" ng-model="data.precio" ng-value="105">
    <div class="item-content">
      <span style="float:left">Chica</span>
      <span style="float:right">$105</span>
    </div>
    <i class="radio-icon ion-checkmark"></i>
  </label>

  <label class="item item-radio">
    <input type="radio" name="group" ng-model="data.precio" ng-value="160">
    <div class="item-content">
      <span style="float:left">Mediana</span>
      <span style="float:right">$160</span>
    </div>
    <i class="radio-icon ion-checkmark"></i>
  </label>

  <label class="item item-radio">
    <input type="radio" name="group" ng-model="data.precio" ng-value="190">
    <div class="item-content">
      <span style="float:left">Grande</span>
      <span style="float:right">$190</span>
    </div>
    <i class="radio-icon ion-checkmark"></i>
  </label>

  <label class="item item-radio">
    <input type="radio" name="group" ng-model="data.precio" ng-value="220">
    <div class="item-content">
      <span style="float:left">Familiar</span>
      <span style="float:right">$220</span>
    </div>
    <i class="radio-icon ion-checkmark"></i>
  </label>

  <label class="item item-radio">
    <input type="radio" name="group" ng-model="data.precio" ng-value="230">
    <div class="item-content">
      <span style="float:left">Extra</span>
      <span style="float:right">$230</span>
    </div>
    <i class="radio-icon ion-checkmark"></i>
  </label>

  <label class="item item-radio">
    <input type="radio" name="group" ng-model="data.precio" ng-value="360">
    <div class="item-content">
      <span style="float:left">Jumbo</span>
      <span style="float:right">$360</span>
    </div>
    <i class="radio-icon ion-checkmark"></i>
  </label>

</div>