/* Empty. Add your own CSS if you like */
.barraNav
{
	background-color: #343f4e;
	color: #fff;
}

.tabs-striped.tabs-background-positive .tabs {
  background-color: #343f4e;
  background-image: none;
}

.tabs-background-positive .tabs, .tabs-background-positive > .tabs {
  background-color: #387ef5;
  background-image: linear-gradient(0deg, #0c63ee, #0c63ee 50%, transparent 50%);
  border-color: #343f4e;
}

.tabs-positive > .tabs, .tabs.tabs-positive {
  background-color: #343f4e;
  border-color: #343f4e;
}

.item
{
	border-color: #fff;
}

i.base.ion-android-home 
{
  font-size: 23px;
}

i.base.ion-android-cart
{
  font-size: 23px;
}

i.base.ion-pizza 
{
  font-size: 23px;
}

i.base.ion-wrench
{
  font-size: 23px;
}

i.base.ion-android-exit 
{
  font-size: 23px;
}

i.base.ion-android-send
{
  font-size: 23px;
}

body > ion-nav-view > ion-side-menus > ion-side-menu-content > ion-nav-bar > div:nth-child(3) > ion-header-bar
{
  border-color: #343f4e;
}

body > ion-nav-view > ion-side-menus > ion-side-menu-content > ion-nav-bar > div:nth-child(4) > ion-header-bar
{
  border-color: #343f4e;
}


.bar.bar-positive
{
  background-color: #343f4e;
}